<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KAREN!!!!</title>
</head>
<body>
   
    NOMBRE: <br>
    EDAD:  <br>
    FECHA DE NACIMIENTO: <br> <br>

        {{familiar1.nombre}} <br>
        {{familiar1.edad}} <br>
        {{familiar1.fecha_de_nac}} <br> <br>

        {{familiar2.nombre}} <br>
        {{familiar2.edad}} <br>
        {{familiar2.fecha_de_nac}} <br> <br>

        {{familiar3.nombre}} <br>
        {{familiar3.edad}} <br>
        {{familiar3.fecha_de_nac}} <br>


        
   
    
    
</body>
</html>